*
!.gitignore

!Ads_irreversible.ipynb
!Ads_real.ipynb
!Ads_isoterma_csv_fino.ipynb
!Ads_isoterma_csv_grueso.ipynb
!Ads_isoterma_csv_normal.ipynb
!N_study.ipynb
!c_fino.csv
!c_grueso.csv
!c_normal.csv

